<div class="bg-secondary p-5 h-100">
  <form (ngSubmit)="onSubmit(form1)" #form1="ngForm">


  <mat-form-field class="w-100">
    <div class="bg-dark m-2 p-3 boxContainer border border-warning">
      <h3 class="text-center pt-3 pb-2 text-light">
        <strong>Form-Control-Validation</strong>
      </h3>

      <div class="bg-light boxContainer p-2 border border-warning">
        <!--Firstname-->
        <div class="p-2 w-75">
          <input
            placeholder="First name"
            [(ngModel)]="person.firstName"
            required
            minlength="2"
            pattern="^[a-zA-Z]*$"
            class="w-75"
          />
          <mat-error *ngIf="form1.errors?.['required'] "></mat-error>
          <mat-error></mat-error>
          <mat-error></mat-error>
        </div>
        <!--Lastname-->
        <div class="p-2 w-75">
          <input
            placeholder="Last name"
            [(ngModel)]="person.lastName"
            required
            minlength="2"
            pattern="^[a-zA-Z]*$"
            class="w-75"
          />
          <mat-error *ngIf="form1.errors?.['required'] "></mat-error>
          <mat-error></mat-error>
          <mat-error></mat-error>

          <input
            placeholder="PersonID - only numbers"
            name="personID"
            [(ngModel)]="person.personid"
            required
            minlength="6"
            pattern="[0-9]"
            class="w-75"
          />
        </div>


        <div class="p-2 w-75" >
          <input
            placeholder="Email"
            name="email"
            [(ngModel)]="person.email"
            required
            minlength="3"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
            class="w-75"
          />
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="bg-light boxContainer mt-3 p-2 border border-warning">
        <!--Username-->
        <div class="p-2 w-75">
          <input
            placeholder="Username"
            [(ngModel)]="person.username"
            name="userName"
            required
            minlength="4"
            pattern="^[a-zA-Z]*$"
            class="w-75"
          />
        </div>
        <!--Password-->
        <div class="p-2 w-75">
          <input
            type="password"
            placeholder="Password"
            name="passWord"
            [(ngModel)]="person.password"
            required
            minlength="11"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            class="w-75"
          />
        </div>
        <!--Confirm Password-->
        <div class="p-2">
          <input
            type="password"
            placeholder="Confirm Password"
            name="rePassword"
            [(ngModel)]="person.repassword"
            required
            minlength="11"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            class="w-75"
          />
        </div>


      </div>
      <mat-divider></mat-divider>

      <button type="submit" class="btn btn-success m-2 w-25 d-flex" [disabled]="form1.invalid" (click)="onSubmit(form1)">Submit</button>
      <button type="reset" class="btn btn-warning m-2 w-25 d-flex" (click)="onReset(form1)">Reset</button>
    </div>
  </mat-form-field>
</form>
</div>
