.boxContainer {
    border-radius: 15px;
}
.mat-divider{
    margin: 2em;
    border-top-color: #ffc107;
}
#terms{
    width: 1rem;
    height: 1rem;
}
.boxedContainer{
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;

}
