<base href="/">
<mat-toolbar color="primary">
  <mat-toolbar-row>
   <mat-icon>group_work</mat-icon>
    <div class="titleContainer">
      
    </div>
    <div class="spacer"></div>


    <a [matMenuTriggerFor]="menu" mat-button>Main Menu</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>ballot</mat-icon>
        <a routerLink="/open-api">Finnkino</a>
      </button>
      <button mat-menu-item>
        <mat-icon>feedback</mat-icon>
        <a routerLink="/form-control">Form Control Validation</a>
        
      </button>
      <button mat-menu-item>
        <mat-icon>work</mat-icon>
        <a routerLink="/reactive">Reactive From Component</a>
      </button>
    </mat-menu>
    <a mat-button routerLink="/test2">Angular Test 23.02.2023</a>
    <a mat-button routerLink="/test1">Angular Test 13.12.2022</a>
    <a mat-button>About</a>
    <a mat-button>Leave Feedback</a>
  </mat-toolbar-row>
</mat-toolbar>


