<h1 class="center">Angular Test - 23.02.2023</h1>
<div class="container">

    <h2>Lainalaskuri</h2>


    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">


        <div class="loanAmountLabelContainer">
            <h2>Loan amount</h2>
            <label>{{this.loanAmount}} Euros</label>
        </div>
        <mat-slider class="slider" min="100" max="10000" step="100" value="0" name="loanAmount"
            thumbLabel="true">
            <input matSliderThumb>
        </mat-slider> <br>

        <div class="loanAmountLabelContainer">
            <h2>Loan time</h2>
            <label> {{this.loanTime}} years</label>
        </div>
        <mat-slider class="slider" min="1" max="10" step="step" tickInterval="1" tickLabel="name"
            showTickMarks="showTicks" value="0" name="loanTime" thumbLabel="true">
            <input matSliderThumb>
        </mat-slider>

        <div class="calculatedContainer">
            <h2>Calculated monthly pay</h2>

            <!-- <span>{{roundedResult}}</span> -->

            <button mat-raised-button color="accent" (click)="calculateMonthlypay()">Calculate</button>

        </div>

        <div class="personelInformation">

            <!--Firstname-->
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Firstname</mat-label>
                <input matInput type="text" id="firstname" name="firstname" formControlName="firstname"
                    class="form-control">
            </mat-form-field>

            <div *ngIf="loanForm.controls['firstname'].invalid && (loanForm.controls['firstname'].touched || loanForm.controls['firstname'].dirty)"
                class="alert alert-warning">

                <div *ngIf="firstname!.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="firstname!.errors?.['minLength']">
                    Name too short.
                </div>
                <div *ngIf="firstname!.errors?.['pattern']">
                    Name contains invalid characters.
                </div>

            </div>


            <br>

            <!--Lastname-->
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Lastname</mat-label>
                <input matInput name="lastname" formControlName="lastname">
            </mat-form-field>

            <div *ngIf="loanForm.controls['lastname'].invalid && (loanForm.controls['lastname'].touched || loanForm.controls['lastname'].dirty)"
                class="alert alert-warning">

                <div *ngIf="lastname!.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="lastname!.errors?.['minLength']">
                    Name too short.
                </div>
                <div *ngIf="lastname!.errors?.['pattern']">
                    Name contains invalid characters.
                </div>
            </div>

            <br>

            <!--NationalID-->
            <mat-form-field appearance="fill" color="accent">
                <mat-label>NationalID</mat-label>
                <input matInput name="nationalid" formControlName="nationalid">
            </mat-form-field>

            <div *ngIf="loanForm.controls['nationalid'].invalid && (loanForm.controls['nationalid'].touched || loanForm.controls['nationalid'].dirty)"
                class="alert alert-warning">

                <div *ngIf="nationalid!.errors?.['required']">
                    NationalID number is required.
                </div>
                <div *ngIf="nationalid!.errors?.['pattern']">
                    NationalID number pattern is not correct.
                </div>
            </div>



            <br>

            <!--Email-->
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Email</mat-label>
                <input type="email" placeholder="Email" matInput name="email" formControlName="email">
            </mat-form-field>

            <div *ngIf="loanForm.controls['email'].invalid && (loanForm.controls['email'].touched || loanForm.controls['email'].dirty)"
                class="alert alert-warning">

                <div *ngIf="email!.errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="email!.errors?.['pattern']">
                    Email contains invalid characters or format is not correct.
                </div>
            </div>
            <br>

            <!--Phone-->
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Phone</mat-label>
                <input type="tel" matInput name="phone" formControlName="phone">
                <mat-hint>Remember to include +358 prefix</mat-hint>
            </mat-form-field>
            <div *ngIf="loanForm.controls['phone'].invalid && (loanForm.controls['phone'].touched || loanForm.controls['phone'].dirty)"
                class="alert alert-warning">

                <div *ngIf="phone!.errors?.['required']">
                    Phonenumber is required.
                </div>
                <div *ngIf="phone!.errors?.['minLength']">
                    Phonenumber too short.
                </div>
                <div *ngIf="phone!.errors?.['maxLength']">
                    Phonenumber too long.
                </div>
                <div *ngIf="phone!.errors?.['pattern']">
                    Phonenumber format is wrong.
                </div>
            </div><br>
        </div>




        <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
    </form>

</div>