.container{
    margin: 3em auto 3em;
    width: 70vh;
}
.slider{
    width: 100%;
}

.personelInformation{
    display: block;
    background-color: aliceblue;
    padding: 2em;
    margin: 2em 0 2em;
    border-radius: 3em;
}

mat-form-field{
    width: 100%;
    color: black;
}