
.accordion{
 display: block;
 margin-left:auto;
 margin-right: auto;
 width: 50%;
}

.header{
    padding:35px;
    text-decoration: none;
    font-weight: 500;
}
h1{
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}